

// dashboard
#dashboard {
    section {
        padding: 2rem 0;
    }

    .profile {
        background: $white;
        padding: 2rem;
    }
    .create-post {
        p {
            margin-bottom: 0.5rem;
        }
        textarea {
            height: 200px;
            margin: 0;
        }
        .button {
            margin-top: 1rem;
            width: 100%;
            z-index: 5;
            border-radius: 0 0 3px 3px;
        }
    }
    .hidden-posts {
        text-align: center;
        border: 1px solid #e6ecf0;
        border-bottom: 0;
        background: $white;

        &:hover {
            background: #f5f8fa;
            cursor: pointer;
        }

        .new-posts {
            color: $primary;
        }
        p {
            padding: 15px;
            margin: 0 auto;
            color: darken($light, 25%);
        }
    }
    .post {
        border: 1px solid #e6ecf0;
        border-bottom: 0;
        padding: 1.5rem;
        background: $white;

    }
    .no-results {
        border: 1px solid #e6ecf0;
        background: $white;
        text-align: center;
        padding: 100px 1rem;
    }
    .c-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($dark, 0.4);
        z-index: 999;

        .c-container {
            position: relative;
            max-width: 600px;
            margin: 30vh auto 0;
            padding: 2rem;
            border-radius: 3px;
            background: $white;
            box-shadow: 0 0 20px 0 rgba($dark, 0.5);

            a {
                position: absolute;
                top: 5px;
                right: 10px;
                padding: 5px;
            }
            .button {
                margin-top: 1rem;
            }
        }
    }
    .p-modal {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($dark, 0.4);
        z-index: 999;

        .p-container {
            position: fixed;
            max-width: 600px;
            top: 2vh;
            bottom: 2vh;
            left: 0;
            right: 0;
            margin: 0 auto;
            padding: 2rem;
            border-radius: 3px;
            background: $white;
            box-shadow: 0 0 20px 0 rgba($dark, 0.5);
            overflow: auto;

            .close {
                position: absolute;
                top: 5px;
                right: 10px;
                padding: 5px;
            }

            .post {
                border: 0;
                border-bottom: 1px solid #e6ecf0;

                &:hover {
                    background: $white;
                }
            }

            .comment {

                padding: 1.5rem;
                border-top: 1px solid #e6ecf0;

                &:first-of-type {
                    border-top: 0;
                }

                h5 {
                    margin: 0 0 0.5rem;
                }
                span {
                    display: block;
                    font-style: italic;

                    margin-bottom: 0.5rem;
                    color: darken($light, 20%);
                }
                p {
                    margin: 0;
                }
            }
        }
    }
}
